<!doctype html>
<html lang="en">
<head>
    <title>Learningsaint - Reset Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{../css/style.css}">

    <style>
        .message {
            color: green;
            padding: 15px;
        }
        .error {
            color: red;
            padding: 15px;
        }
        body{
	background: linear-gradient(to right, rgb(223 164 76/ 65%),
		rgb(255, 155, 0));
}
    </style>
</head>
<body>
    <section class="ftco-section">
    <nav>
    <img src="../static/img/login-logo.png" class="" th:src="@{/img/logo.png}" alt="navimg">
    </nav>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="img" th:style="'background-image: url(' + @{img/Rectangle-31.png} + ');'">
                        <img src="../static/img/login-image.png" class="login-img" th:src="@{/img/login-image.png}" alt="profile_picture">
                        <img src="../static/img/saly-1" class="slay-img" th:src="@{/img/saly-1.png}" alt="profile_picture">
                        </div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Reset Password</h3>
                                </div>
                                <div class="w-100">
                                    <p class="social-media d-flex justify-content-end">
                                        <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                        <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                    </p>
                                </div>
                            </div>
                            <div th:if="${message}" class="message">
                                <p th:text="${message}"></p>
                            </div>
                            <div th:if="${error}" class="error">
                                <p th:text="${error}"></p>
                            </div>
                            <form th:action="@{/reset-password}" method="post" class="signin-form">
                                <input type="hidden" name="token" th:value="${token}" />
                                <div class="form-group mb-3">
                                    <label class="label" for="password">New Password</label>
                                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter your new password" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary rounded submit px-3">Submit</button>
                                </div>
                            </form>
                            <p class="text-center"><a th:href="@{/login}">Back to Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
