<!doctype html>
<html lang="en">
<head>
    <title>Learning Saint</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" th:href="@{/css/Forms.css}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
    </style>
</head>
<body onLoad="noBack();" onpageshow="if (event.persisted) noBack();" onUnload="">
	 <script th:src="@{/js/index.js}" type="text/javascript"></script>
    <div class="container">
        <img src="../static/img/login-logo.png"   th:src="@{/img/logo.svg}" class="logoimg" alt="navimg">
        <div class="rectangle1">
            <p class="login_text">Fill The Details To Update Your Password </p>
            <img src="../static/img/login-image.png" th:src="@{/img/login-image.png}" class="login-img" alt="profile_picture">
            <img src="../static/img/saly-1.png"  th:src="@{/img/saly-1.png}" class="slay-img" alt="profile_picture">
        </div>
        <div class="rectangle2">
            <div class="login_form_div">
                <div class="form_content">
                    <div class="login_text_heading">
							Reset Your Password
                    </div>
                     <div class="user-info">
                                <h3 th:text="${user.fullname}" class = "user_name">User Fullname</h3>

                    </div>
                    <form th:action="@{/updatePassword/{id}(id=${userId})}" th:object="${user}" method="post" class="signin-form">
                        <div class="form_data">

                        </div>
                        <div class="form_data">
                            <div class="label_and_forgot">
                                <label class="label_text" for="password">New Password</label>

                            </div>
                            <input type="password"  th:field="*{password}" id="password" name="password" class="inputbox" placeholder="Enter your password" required>
                        </div>
                        <div class="form_data">
                            <button type="submit" class="button">Update Password</button>
                        </div>
                        <div th:if="${successMessage}" class="message">
                                    <p th:text="${successMessage}"></p>
                             </div>
                    </form>


                    <div class="noaccount">
                        <p class="NoAccount_text">
                        <a th:href="@{/login}" class = "link_text">Back to Login</a>


                        <a th:href="@{/user-page}" class = "link_text">Stay logged-in</a>



                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>